
@{
    ViewBag.Title = "UsersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/js/jquery.dataTables.min.css" rel="stylesheet" />
<table id="UserTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Created date</th>
        </tr>
    </thead>
    <tfoot>
        <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Created date</th>
        </tr>
    </tfoot>
</table>

@section scripts{
    <script src="~/Scripts/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#UserTable').DataTable({

                "serverSide": true,
                "order": [0, "asc"],
                "Processing": true,
                "ajax": {
                    "url": "/Home/LoadAllData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { 'data': 'first_name', "name": "first_name", "autoWidth": true },
                    { 'data': 'last_name', "name": "last_name", "autoWidth": true },
                    { 'data': 'email_address', "name": "email_address", "autoWidth": true },
                    { 'data': 'date_created', "name": "date_created", "autoWidth": true }
                ],

            });
            //$('#UserTable.filters td').each(function () {

            //        var title = $('# UserTable thead td').eq($(this).index()).text();
            //        if (title) {
            //            $(this).html('<input type="text" class="form-control" />');
            //        }
            //});
            //var table = $('#UserTable').DataTable(
            //    {
            //        "bFilter": true,
            //        "order": []
            //    });
            //var delay = (function () {
            //    var timer = 0;
            //    return function (callback, ms) {
            //        clearTimeout(timer);
            //        timer = setTimeout(callback, ms);
            //    };
            //})();
            //table.columns().eq(0).each(function (colIdx) {
            //        $('input', $('.filters td')[colIdx]).bind('keyup', function () {
            //                var coltext = this.value; // typed value in the search column
            //                var colindex = colIdx; // column index
            //                delay(function () {
            //                    table
            //                        .column(colindex)
            //                        .search(coltext)
            //                        .draw();
            //                }, 500);
            //        });
            //});
        });
    </script>
}

@*<script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/Users/List",
                success: function (data) {
                    console.log(data);
                    var datatableVariable = $('#example').DataTable({
                        "ajax": data,
                        "columns": [
                            { 'data': 'Id' },
                            { 'data': 'First_Name' },
                            { 'data': 'Last_Name' },

                            { 'data': 'Email' },
                            { 'data': 'CreatedDate' }
                        ]
                    });
                }
            });
            //$('#example').DataTable( {
            //    "ajax": "data/objects.txt",
            //    "columns": [
            //        { "data": "name" },
            //        { "data": "position" },
            //        { "data": "office" },
            //        { "data": "extn" },
            //        { "data": "start_date" },
            //        { "data": "salary" }
            //    ]
            //} );
        });
    </script>*@

